.category {
	position: relative;
	top: 70px;
	padding: 0 10px;
	padding-bottom: 40px;
}
.category__title {
	display: block;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 40px;
	font-size: 30px;
	font-weight: 600
}
.category__item {
	padding: 0 30px;
}
.article {
	margin: 0 80px;
	padding: 20px;
	background-color: #303030;
	box-shadow: 10px 10px 10px black;
	margin-bottom: 20px;
}
.article:hover .article__name{
	color: #FFD700;
	opacity: 1;
}
.article:hover {
	border :2px solid #FFD700;
	transform: scale(1.05);
	cursor: pointer;
}
.article__name {
	color: aliceblue;
	text-decoration: none;
	font-size: 28px;
}
.article__name  {
	font-size: 28px;
	font-weight: 400;
}
.article__description {
	padding: 10px 0 0;
	font-size: 22px;
	opacity: .9;
}
.article__data {
	font-size: 18px;
	opacity: .8;
}
.article__tegi a {
	text-decoration: none;
	color:aliceblue;
	opacity: .6;
	font-size: 18px;
}
.article a:hover {
	opacity: .8;
}
.article__footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.article__name:hover {
	opacity: 1;
	color: #FFD700;
}

@media screen and (max-width: 600px) {
	.category {
		top: 70px;
		padding: 0 5px;
	}
	.category__title {
		padding-top: 10px;
		padding-bottom: 20px;
		font-size: 30px;
	}
	.category__item {
		padding: 0 0px;
	}
	.article {
		margin: 20px 10px;
		padding: 20px;
	}
	.article__name {
		font-size: 26px;
	}
	.article__name  {
		font-size: 26px;
	}
	.article__description {
		font-size: 20px;
		margin-bottom: 10px
	}
	.article__data {
		font-size: 16px;
	}
	.article__tegi a {
		font-size: 16px;
	}

}
