.header {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 100;
	background-color: #202020;
	padding: 0  10px;
}
.header__log {
	display: flex;
	align-items: center;
	
}
.header__log:hover  .header__logotip{
	animation-name:  roti;
	animation-duration: 8000ms;
	animation-iteration-count: infinite;
	animation-fill-mode: .2s;
	padding: 0 2px;
}


@keyframes roti {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}


.header-name {
	padding: 0 10px;
	font-weight: 600;
	opacity: 1;
	color: aliceblue;
	text-decoration: none;
}
.header__logotip img {
	width: 40px;
}
.header__menu {
	display: flex;
	justify-content: center;
}
.header__button {
	text-decoration: none;
	color: aliceblue;
	padding: 18px 10px;
	transition: background-color .3s linear, color .3s linear;
	opacity: .8;
	font-size: 20px;
}
.header__button:hover{
	background-color: #FFD700;
	opacity: 1;
	color: #202020;
	font-weight: 600;
    margin: 0;
	box-shadow: 5px 5px 5px #202020;
}
.header__mob {
	display: none;
}

.header__close {
	display: none;
}
@media screen and (max-width: 1100px) {
	.header {
		justify-content: space-between;
		height: 70px;
		width: 100%;
		padding: 0;
		
	}
	.header__mob {
		display: block;
		position: relative;
		cursor: pointer;
		right: 10px;
}
	.header__inside {
		display: flex;
		flex-direction: column;
		background-color: #202020;
		width: 100%;
		position: absolute;
		z-index: 99;
		left: 0;
		top: -360px;
		padding: 0;
		margin: 0;
		box-shadow: 0px 5px 5px black;
		transition: top .4s linear;
	}
	.header__button {
		width: 100%;
		border: 1px solid aliceblue;
		display: block;
		text-align: center;
		margin: 0;
		padding: 14px 0;
		background-color: #202020;
		text-transform: uppercase;
	}
	.pinki {
		font-size: 48px !important;
	}
	.header__name {
		font-size: 30px;
}
.header__logotip img {
		width: 60px;
	}
}
@media screen and (max-width: 400px) {
	.header {
		justify-content: space-between;
		height: 80px;
		width: 100%;
		
	}
}

