.themes {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: wrap;
	height: 100%;
	width: 100%;
	margin-bottom: 50px;
}
.block {
	position: relative;
	overflow: hidden;
	min-width: 220px;
	max-width: 310px;
	max-height: 220px;
	width: 100%;
	background-color: black;
	color: aliceblue;
	box-shadow: 0 0 5px black;
	margin: 10px 20px;
}
.block::before {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	content: " ";
	position: absolute;
	transition: all 0.4s ease-in-out;
	transform: rotate(110deg) translateY(-50%);
	background: aliceblue;
}
.block *{
	box-sizing: border-box;
	transition: all 0.4s ease-in-out;
	-webkit-box-sizing: border-box;
	-gecko-box-sizing: border-box;
	-presto-box-sizing: borer-box
}
.block__img {
	max-width: 100%;
	position: relative;
	opacity: 0.4;
}
.block__item {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	
}
.block__text {
	display: inline-block;
	position: absolute;
	left: 40px;
	right: 40px;
	background:#202020;
	transform: skew(-10deg) rotate(-10deg) translate(0, -40%);
	padding: 10px 5px;
	margin: 0;
	top: 50%;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	font-size: 24px;
}
.block__link {
	left: 0;
	right: 0;
	top:0;
	bottom: 0;
	position: absolute;
	z-index: 1;
}

/*___color___*/
.blue {
	background-color: 	#2F4F4F;
}
.block. div {
	background-color: #202020;
}
.black {
	background-color: #202020;
}
.yellow {
	background-color: 	rgb(255, 275, 0, .3)	;
}
.pink  {
	background-color: rgba(255,0,255, .2);
}
.red {
	background-color: rgba(225, 0 ,0, .2 );
	
}


/*_____special____*/
.special {
	height: 220px;
}
.special img {
	height: 220px;
}


.block:hover img,
.block.hover img {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.block:hover div,
.block.hover div {
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
}

.block:hover::before,
.block.hover::before {
  -webkit-transform: rotate(110deg) translateY(-150%);
  transform: rotate(110deg) translateY(-150%);
}


